<div class="login-container">
  <div class="login-card">
    <div class="logo-container">
      <h1>Optimus Payroll</h1>
    </div>
    <form (ngSubmit)="onSubmit()">
      <input type="text" [(ngModel)]="usuario" name="usuario" placeholder="Usuario" required>
      <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required>
      @if (error) {
        <p class="error">{{ error }}</p>
      }
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>
